{% extends 'base.html' %}
{% load static %}
{% block home %}
    <style>
      .search-container ,.filter-container{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 30px;
      }
      .search-box ,.filter-box{
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          width: 700px;
      }
      .filter-select {
        width: 160px;
      }
      .search-input {
          border: none;
          outline: none;
          flex: 1;
          padding: 8px;
          font-size: 16px;
      }
      .search-button {
          background-color: #4285f4;
          color: #fff;
          border: none;
          border-radius: 4px;
          padding: 8px 16px;
          cursor: pointer;
      }
      .search-button:hover {
          background-color: #357ae8;
      }
    </style>


  <div class="search-container">
    <div class="search-box">
        <select class="form-control filter-select" title="Choose Search option">
            <option value="name">按名字搜索</option>
            <option value="filter">筛选搜索信息</option>
        </select>
        <input type="text" class="search-input" placeholder="搜索教师...">
        <button class="search-button">搜索</button>
    </div>
</div>

<!-- Filter Container (默认隐藏) -->
<div class="filter-container" style="display: none;">
      <div class="filter-box">
        <ul class="list-group list-group-flush flex-fill">
          <li class="list-group-item">
            <div class="row">
              <label class="col font-weight-bold text-dark">身份</label><br>
            </div>
            <div class="row ml-2">
              <div class="form-check col">
                  <input type="checkbox" class="form-check-input" id="identityOption1" value="identity1">
                  <label class="form-check-label" for="identityOptionOption1">教授</label>
              </div>
              <div class="form-check col">
                  <input type="checkbox" class="form-check-input" id="identityOption2" value="identity2">
                  <label class="form-check-label" for="identityOptionOption2">副教授</label>
              </div>
              <div class="form-check col">
                  <input type="checkbox" class="form-check-input" id="identityOption3" value="identity3">
                  <label class="form-check-label" for="identityOptionOption3">讲师</label>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <label class="col font-weight-bold text-dark">部门</label><br>
            </div>
            <div class="row ml-2">
              <div class="form-check col">
                  <input type="checkbox" class="form-check-input" id="departmentOption1" value="department1">
                  <label class="form-check-label" for="departmentOption1">设计系</label>
              </div>
              <div class="form-check col">
                  <input type="checkbox" class="form-check-input" id="departmentOption2" value="department2">
                  <label class="form-check-label" for="departmentOption2">数字媒体系</label>
              </div>
              <div class="form-check col">
                  <input type="checkbox" class="form-check-input" id="departmentOption3" value="department3">
                  <label class="form-check-label" for="departmentOption3">传播学系</label>
              </div>
            </div>
            <div class="row ml-2">
              <div class="form-check col">
                  <input type="checkbox" class="form-check-input" id="departmentOption4" value="department4">
                  <label class="form-check-label" for="departmentOption4">艺术教研中心</label>
              </div>
            </div>
          </li>
        </ul>
      </div>
</div>

{% block result %}
{% endblock %}


<!-- 用来加载组件 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-Lge2E2XotzMiwH69/MXB72yLpwyENMiOKX8zS8Qo7LDCvaBIWGL+GlRQEKIpYR04" crossorigin="anonymous"></script>

<script>
    $('.filter-select').change(function() {
        if ($(this).val() === 'filter') {
            // 当选择筛选条件时，显示筛选选项
            $('.filter-container').show();
        } else {
            // 否则隐藏筛选选项
            $('.filter-container').hide();
        }
    });
    //加载Option组件
    $(document).ready(function() {
        if ($('.filter-select').val() === 'filter') {
            $('.filter-options').show();
        } else {
            $('.filter-options').hide();
        }
    });
</script>



{% endblock %}