{% extends 'base.html' %}
{% load static %}
{% block search %}
<style>
    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .search-box {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        width: 400px;
    }

    .search-input {
        border: none;
        outline: none;
        flex: 1;
        padding: 8px;
        font-size: 16px;
    }

    .search-button {
        background-color: #4285f4;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
    }

    .search-button:hover {
        background-color: #357ae8;
    }

    .card-img-enlarge{
        max-width: 100%;
        height: auto;
        transition: transform 0.2s;
      }
    
      .card-img-enlarge:hover{
        transform: scale(1.1);
      }
</style>
<div class="search-container">
    <div class="search-box">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>
</div>
{% endblock %}